n8n-workflows/status-change.json
{
  "name": "CXX — Order Status Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cxx-status-change",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "cxx-sc-node-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "cxx-webhook-status-change"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst status = d.new_status;\nconst fmt = (n) => 'R' + Number(n).toFixed(2);\nconst shipping = d.order.shipping_fee === 0 ? 'FREE' : fmt(d.order.shipping_fee);\nconst logo = 'https://res.cloudinary.com/dzhwylkfr/image/upload/v1778137000/CW-Logo-black_mbfsn7.png';\n\nconst SKIP = ['processing'];\nif (SKIP.includes(status)) return [];\n\nconst STATUS_CFG = {\n  paid:                 { accent: '#16A34A', title: 'Payment Confirmed',   msg: 'Your payment has been confirmed. Our team is now preparing your order and will have it packed and ready shortly.' },\n  packed:               { accent: '#7C3AED', title: 'Order Packed',         msg: 'Your order has been carefully packed and is ready to be dispatched. You will receive another update as soon as it is on its way.' },\n  out_for_delivery:     { accent: '#0284C7', title: 'Out for Delivery',     msg: 'Your order is on its way. Our courier is en route to your delivery address. Deliveries typically take place during business hours.' },\n  delivered:            { accent: '#16A34A', title: 'Order Delivered',      msg: 'Your order has been delivered. We hope you enjoy your new purchase. If anything is incorrect or damaged, please reach out to us right away.' },\n  ready_for_collection: { accent: '#0F766E', title: 'Ready for Collection', msg: 'Your order is packed and waiting for you at Dragon City Mall, Shop 14, Fordsburg, Johannesburg. Please bring your order number and a valid ID.' },\n  collected:            { accent: '#16A34A', title: 'Order Collected',      msg: 'Thank you for collecting your order. We hope you enjoy your purchase. Do not hesitate to reach out if there is anything we can help with.' },\n  cancelled:            { accent: '#DC2626', title: 'Order Cancelled',      msg: 'Your order has been cancelled. If you did not request this or have any questions, please contact us at info@cw-electronics.co.za and we will assist you.' },\n};\n\nconst cfg = STATUS_CFG[status] || { accent: '#E63939', title: 'Order Update', msg: 'Your order status has been updated.' };\n\nconst itemRows = d.order.items.map(i => `<tr><td style='padding:14px 20px;font-size:14px;color:#111827;border-top:1px solid #F3F4F6;'>${i.name}</td><td style='padding:14px 8px;font-size:14px;color:#6B7280;text-align:center;border-top:1px solid #F3F4F6;'>x${i.quantity}</td><td style='padding:14px 20px;font-size:14px;font-weight:500;color:#111827;text-align:right;border-top:1px solid #F3F4F6;'>${fmt(i.line_total)}</td></tr>`).join('');\n\nconst orderTable = `<table width='100%' cellpadding='0' cellspacing='0' style='border:1px solid #E5E7EB;border-radius:10px;overflow:hidden;margin-bottom:28px;'><tr style='background:#F9FAFB;'><td style='padding:12px 20px;font-size:11px;font-weight:600;color:#9CA3AF;text-transform:uppercase;letter-spacing:1px;'>Item</td><td style='padding:12px 8px;font-size:11px;font-weight:600;color:#9CA3AF;text-transform:uppercase;letter-spacing:1px;text-align:center;'>Qty</td><td style='padding:12px 20px;font-size:11px;font-weight:600;color:#9CA3AF;text-transform:uppercase;letter-spacing:1px;text-align:right;'>Amount</td></tr>${itemRows}<tr><td colspan='2' style='padding:12px 20px;font-size:13px;color:#9CA3AF;border-top:1px solid #F3F4F6;'>Shipping</td><td style='padding:12px 20px;font-size:13px;color:#9CA3AF;text-align:right;border-top:1px solid #F3F4F6;'>${shipping}</td></tr><tr style='background:#F9FAFB;'><td colspan='2' style='padding:16px 20px;font-size:15px;font-weight:700;color:#111827;border-top:2px solid #E5E7EB;'>Total</td><td style='padding:16px 20px;font-size:17px;font-weight:800;color:#E63939;text-align:right;border-top:2px solid #E5E7EB;'>${fmt(d.order.total)}</td></tr></table>`;\n\nconst shell = (rows) => `<!DOCTYPE html><html><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1'></head><body style='margin:0;padding:0;background:#F0F2F5;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0'><tr><td align='center' style='padding:40px 16px;'><table width='580' cellpadding='0' cellspacing='0' style='max-width:580px;width:100%;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08);'>${rows}</table></td></tr></table></body></html>`;\n\nconst accentBar = `<tr><td style='background:${cfg.accent};height:4px;font-size:1px;line-height:4px;'>&nbsp;</td></tr>`;\nconst logoRow = `<tr><td style='padding:28px 48px;text-align:center;border-bottom:1px solid #F3F4F6;'><img src='${logo}' alt='CW Electronics' height='30' style='display:block;margin:0 auto;'></td></tr>`;\nconst footerRow = `<tr><td style='padding:24px 48px;border-top:1px solid #F3F4F6;text-align:center;'><p style='margin:0 0 3px;font-size:12px;color:#D1D5DB;'>CW Electronics &nbsp;·&nbsp; Dragon City, Shop 14, Fordsburg, Johannesburg</p><p style='margin:0;font-size:12px;color:#D1D5DB;'>12-month warranty on all products</p></td></tr>`;\n\nconst emailHtml = shell(\n  accentBar + logoRow +\n  `<tr><td style='padding:36px 48px;'><p style='margin:0 0 4px;font-size:22px;font-weight:700;color:#111827;letter-spacing:-0.3px;'>${cfg.title}</p><p style='margin:0 0 28px;font-size:13px;color:#9CA3AF;'>Order #${d.order_number}</p><p style='margin:0 0 24px;font-size:15px;color:#4B5563;line-height:1.7;'>Hi ${d.customer.name},<br><br>${cfg.msg}</p>${orderTable}<p style='margin:0;font-size:13px;color:#9CA3AF;'>Questions? <a href='mailto:info@cw-electronics.co.za' style='color:#E63939;text-decoration:none;font-weight:500;'>info@cw-electronics.co.za</a></p></td></tr>` +\n  footerRow\n);\n\nreturn [{ json: { ...d, emailHtml, subject: cfg.title + ' — Order #' + d.order_number } }];"
      },
      "id": "cxx-sc-node-0002",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "info@cw-electronics.co.za",
        "toEmail": "={{ $json.customer.email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "cxx-sc-node-0003",
      "name": "Send Status Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "Zoho Mail"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Build Email", "type": "main", "index": 0 }]
      ]
    },
    "Build Email": {
      "main": [
        [{ "node": "Send Status Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "cxx-electronics" }]
}
