n8n-workflows/status-change.json
{
  "name": "CXX — Order Status Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cxx-status-change",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "cxx-sc-node-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "cxx-webhook-status-change"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst status = d.new_status;\nconst fmt = (n) => 'R' + Number(n).toFixed(2);\nconst shipping = d.order.shipping_fee === 0 ? 'FREE' : fmt(d.order.shipping_fee);\n\nconst SKIP = ['processing'];\nif (SKIP.includes(status)) return [];\n\nconst itemsHtml = d.order.items.map(i =>\n  `<tr><td style='padding:12px 20px;font-size:14px;color:#111827;border-bottom:1px solid #F3F4F6;'>${i.name}</td><td style='padding:8px;text-align:center;font-size:14px;color:#6B7280;border-bottom:1px solid #F3F4F6;'>x${i.quantity}</td><td style='padding:12px 20px;text-align:right;font-size:14px;font-weight:600;color:#111827;border-bottom:1px solid #F3F4F6;'>${fmt(i.line_total)}</td></tr>`\n).join('');\n\nconst orderTable = `<table width='100%' cellpadding='0' cellspacing='0' style='border:1px solid #E5E7EB;border-radius:12px;overflow:hidden;margin-bottom:28px;'><tr style='background:#F9FAFB;'><td colspan='3' style='padding:12px 20px;font-size:10px;font-weight:800;color:#9CA3AF;text-transform:uppercase;letter-spacing:1.5px;'>Your Order</td></tr>${itemsHtml}<tr style='border-top:1px solid #E5E7EB;'><td colspan='2' style='padding:10px 20px;font-size:13px;color:#6B7280;'>Shipping</td><td style='padding:10px 20px;text-align:right;font-size:13px;color:#6B7280;'>${shipping}</td></tr><tr style='background:#0B1929;'><td colspan='2' style='padding:14px 20px;font-size:15px;font-weight:800;color:#fff;'>Total</td><td style='padding:14px 20px;text-align:right;font-size:16px;font-weight:800;color:#E63939;'>${fmt(d.order.total)}</td></tr></table>`;\n\nconst STATUS_CFG = {\n  paid:                 { color: '#16A34A', title: 'Payment Confirmed ✓',          msg: 'Great news! Your payment has been confirmed. Your order is now in the queue and our team will have it packed and ready for you soon.' },\n  packed:               { color: '#7C3AED', title: 'Order Packed \\uD83D\\uDCE6',    msg: 'Your order has been carefully packed and is ready to be dispatched. You will receive another update the moment it leaves our warehouse.' },\n  out_for_delivery:     { color: '#0284C7', title: 'Out for Delivery \\uD83D\\uDE9A', msg: 'Your order is on its way! Our courier is en route to your delivery address. Deliveries typically happen during business hours.' },\n  delivered:            { color: '#16A34A', title: 'Order Delivered ✓',             msg: 'Your order has been delivered. We hope you love your new CXX Electronics products! If anything is missing or damaged, contact us immediately.' },\n  ready_for_collection: { color: '#0F766E', title: 'Ready for Collection \\uD83C\\uDFEA', msg: 'Your order is packed and waiting for you at Dragon City Mall, Shop 14, Fordsburg, Johannesburg. Remember to bring your order number and a valid ID.' },\n  collected:            { color: '#16A34A', title: 'Order Collected ✓',             msg: 'Thank you for collecting your order! We hope you enjoy your purchase. Do not hesitate to reach out if you need any help.' },\n  cancelled:            { color: '#DC2626', title: 'Order Cancelled',               msg: 'Your order has been cancelled. If you did not request this or have any questions, please contact us at info@cw-electronics.co.za and we will sort it out right away.' },\n};\n\nconst cfg = STATUS_CFG[status] || { color: '#E63939', title: 'Order Update', msg: 'Your order status has been updated.' };\n\nconst logoWhite = `https://res.cloudinary.com/dzhwylkfr/image/upload/v1777722832/CW-Logo_ujfdip.png`;\nconst logoBlack = `https://res.cloudinary.com/dzhwylkfr/image/upload/v1778137000/CW-Logo-black_mbfsn7.png`;\n\nconst emailHtml = `<!DOCTYPE html><html><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1'></head><body style='margin:0;padding:0;background:#F4F6F8;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0'><tr><td align='center' style='padding:32px 16px;'><table width='600' cellpadding='0' cellspacing='0' style='max-width:600px;width:100%;'><tr><td style='background:#0B1929;border-radius:16px 16px 0 0;padding:28px 40px;'><table width='100%' cellpadding='0' cellspacing='0'><tr><td><img src='${logoWhite}' alt='CXX Electronics' height='32' style='display:block;'></td><td align='right'><span style='color:rgba(255,255,255,0.5);font-size:11px;font-weight:600;text-transform:uppercase;letter-spacing:2px;'>Order Update</span></td></tr></table></td></tr><tr><td style='background:${cfg.color};padding:20px 40px;'><p style='margin:0;color:#fff;font-size:22px;font-weight:800;letter-spacing:-0.3px;'>${cfg.title}</p><p style='margin:6px 0 0;color:rgba(255,255,255,0.85);font-size:14px;'>Order #${d.order_number}</p></td></tr><tr><td style='background:#fff;padding:40px;'><p style='margin:0 0 6px;color:#111827;font-size:17px;font-weight:700;'>Hi ${d.customer.name},</p><p style='margin:0 0 28px;color:#4B5563;font-size:15px;line-height:1.7;'>${cfg.msg}</p>${orderTable}<p style='margin:0;color:#6B7280;font-size:13px;line-height:1.6;'>Need help? Contact us at <a href='mailto:info@cw-electronics.co.za' style='color:#E63939;text-decoration:none;font-weight:600;'>info@cw-electronics.co.za</a></p></td></tr><tr><td style='background:#F9FAFB;border-radius:0 0 16px 16px;padding:24px 40px;border-top:1px solid #E5E7EB;'><table width='100%' cellpadding='0' cellspacing='0'><tr><td><p style='margin:0;font-size:12px;color:#9CA3AF;'>CXX Electronics · Dragon City, Shop 14, Fordsburg, JHB</p><p style='margin:3px 0 0;font-size:12px;color:#9CA3AF;'>info@cw-electronics.co.za · 12-month warranty on all products</p></td><td align='right' style='padding-left:16px;'><img src='${logoBlack}' alt='CXX' height='20' style='display:block;opacity:0.35;'></td></tr></table></td></tr></table></td></tr></table></body></html>`;\n\nreturn [{ json: { ...d, emailHtml, subject: cfg.title + ' — Order #' + d.order_number } }];"
      },
      "id": "cxx-sc-node-0002",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "info@cw-electronics.co.za",
        "toEmail": "={{ $json.customer.email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "cxx-sc-node-0003",
      "name": "Send Status Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "Zoho Mail"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Build Email", "type": "main", "index": 0 }]
      ]
    },
    "Build Email": {
      "main": [
        [{ "node": "Send Status Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "cxx-electronics" }]
}
