n8n-workflows/status-change.json
{
  "name": "CXX — Order Status Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cxx-status-change",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "cxx-sc-node-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "cxx-webhook-status-change"
    },
    {
      "parameters": {
        "fromEmail": "info@cw-electronics.co.za",
        "toEmail": "={{ $json.customer.email }}",
        "subject": "={{ $json.customer_email_subject }}",
        "emailType": "html",
        "message": "={{ $json.customer_email_html }}",
        "options": {}
      },
      "id": "cxx-sc-node-0002",
      "name": "Customer Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [460, 180],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "Zoho Mail"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.owner_email_html }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "cxx-sc-node-0003",
      "name": "Has Owner Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 420]
    },
    {
      "parameters": {
        "fromEmail": "info@cw-electronics.co.za",
        "toEmail": "info@cw-electronics.co.za",
        "subject": "={{ $json.owner_email_subject }}",
        "emailType": "html",
        "message": "={{ $json.owner_email_html }}",
        "options": {}
      },
      "id": "cxx-sc-node-0004",
      "name": "Owner Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 420],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "Zoho Mail"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Customer Email", "type": "main", "index": 0 },
          { "node": "Has Owner Email?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Owner Email?": {
      "main": [
        [{ "node": "Owner Email", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "cxx-electronics" }]
}
