workflows/cxx-signup.json
{
  "name": "CXX Customer Signup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cxx-signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "cxx-signup"
    },
    {
      "parameters": {
        "fromEmail": "info@cw-electronics.co.za",
        "toEmail": "={{ $json.body.customer.email }}",
        "subject": "={{ $json.body.customer_email_subject }}",
        "emailFormat": "html",
        "html": "={{ $json.body.customer_email_html }}",
        "options": {
          "replyTo": "info@cw-electronics.co.za"
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [480, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Zoho SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cxx-signup-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
